{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
	<div class="container">
		<div class="col-md-4">
                <li>Email: {{ user.email }} </li> 
                <br>
                <li>Date_of_birth: {{ user.date_of_birth }} </li>
                <br>
                {% if user.picture %}
                <img src="{{ user.picture.url }}" width="240">
                {% endif %}			
		</div>
		<div class="col-md-4">
			<h4>Friend</h4>
			{% for friend in friends%}
			<li> {{ friend.email }} 
				<a href="{% url 'user:changefriend' Op='remove' pk=friend.pk %}">
				<button type="button" class="btn btn-default">delete</button>
				</a>
			</li>
			<br>
			{% endfor %}
		</div>
		<div class="col-md-4">
			<h4>Other User</h4>
			{% for other in others %}
						{% if not other in friends %}
					<li> {{ other.email }}
						<a href="{% url 'user:changefriend' Op='add' pk=other.pk %}">
						<button type="button" class="btn btn-success">Add</button>
						</a>
					</li>
					<br>
						{% endif %}
			{% endfor %}
		</div>
    </div>

{% endblock %}