<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <!--
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" type="text/css">
        -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/hfwwg.css' %}">
        <link rel="stylesheet" href="{% static 'css/styledform.css' %}">
        -->
    </head>
    <body>
        <!--<nav class="navbar navbar-default">-->
        <nav class="navbar navbar-inverse navbar_fixed_top">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="#">WebSiteName</a>
                </div>

                <div class="collapse navbar-collapse" id="myNavbar">
                    {% if user.is_authenticated %}
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'htwwg:sighting_list' %}">Sighting List</a></li>
                            <li><a href="{% url 'htwwg:index' %}">Add sighting</a></li>
                            <h4 class="navbar-text">Welcome, {{ user.email }}. Thanks for logging in.</h4>

                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href={% url 'user:passwordchange' %}><span class="glyphicon glyphicon-user"></span>User Password Change</a></li>
                            <li><a href={% url 'user:profile' %}><span class="glyphicon glyphicon-user"></span>User Profile</a></li>
                            <li><a href={% url 'user:edit' %}><span class="glyphicon glyphicon-user"></span>User Profile Change</a></li>
                            <li><a href={% url 'user:logout' %}><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        </ul>   
                    {% else %}
                        <h4 class="navbar-text">Welcome, Please log in or Signup to log in</h4>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href={% url 'user:signup' %}><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href={% url 'user:login' %}><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </ul>                     
                    {% endif %}
                </div>

            </div>
        </nav>
        <h1>{{ title }}</h1>
    	{% block content %}
    	{% endblock content %}
    </body>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>